services:
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        restart: always

    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile
        ports:
            - "8080:80"
        depends_on:
            - backend
        restart: always

networks:
    default:
        name: red_bicicletero
